<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Fixed top navbar example · Bootstrap v5.2</title>
    <link href="{{ .rootUrl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .rootUrl }}/css/main.css" rel="stylesheet">
  </head>
  <body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YouTube RSS Subscriber</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ .rootUrl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .rootUrl }}/list-channels">Channels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ .rootUrl }}/list-videos">Videos</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="{{ .rootUrl}}/search" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="term">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<main class="container">
{{- if .error }}
<div class="alert alert-danger" role="alert">
  {{ .error }}
</div>
{{- end }}
{{- block "content" . }}
<form action="{{ .rootUrl }}/subscribeYouTube" method="post">
  <label for="url">Channel ID: </label>
  <input type="text" name="channelID" id="channelID" required>
  <input type="submit" value="Subscribe">
</form>
<form action="{{ .rootUrl }}/subscribe" method="post">
  <label for="url">RSS URL: </label>
  <input type="text" name="rss" id="rss" required>
  <input type="submit" value="Subscribe">
</form>
{{- end }}
</main>
    <script src="{{ .rootUrl }}/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
