{{ define "content" }}
{{ if .channels }}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
  {{ $rootUrl := .rootUrl }}
  {{ range $i, $c := .channels }}
    <tr>
      <th scope="row">{{ $i }}</th>
      <td>{{ $c.ID }}</td>
      <td><a href="{{ $rootUrl }}/list-videos?channel={{ $c.Name }}">{{ $c.Name }}</a></td>
      <td><a href="{{ $c.URL }}">{{ $c.URL }}</a></td>
      <td>
        <form action="{{ $rootUrl}}/delete-channel" method="post">
          <input type="hidden" name="channel" value="{{ $c.ID }}">
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}
{{ end }}