{{ define "content" }}
<div class="update-videos">
  <form action="" method="post">
    <button>Update</button>
    {{ if .showNew }}
      {{- if (gt .newVideos 0) }}
    <span>Found {{ .newVideos }} new videos</span>
      {{- else }}
    <span>No new videos found</span>
      {{- end }}
    {{- end }}
  </form>
</div>
{{ if .videos }}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Published</th>
      <th scope="col">Title</th>
      <th scope="col">Channel</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
  {{ $rootUrl := .rootUrl }}
  {{ range $i, $v := .videos }}
    <tr>
      <th scope="row">{{ $i }}</th>
      <td>{{ $v.ID }}</td>
      <td>{{ $v.Published.Format "2006-01-02" }}</td>
      <td>{{ $v.Title }}</td>
      <td><a href="{{ $rootUrl }}/list-videos?channel={{ $v.Channel.Name }}">{{ $v.Channel.Name }}</a></td>
      <td><a href="{{ $v.URL }}">{{ $v.URL }}</a></td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}
{{ end }}
